In [1]:
import pandas as pd
import numpy as np

In [11]:
start_pos = pd.read_csv('C:\\Users\luker\OneDrive\Desktop\erdos_ds_f1\data_f1db\\f1db-races-starting-grid-positions.csv')
race_pos = pd.read_csv('C:\\Users\luker\OneDrive\Desktop\erdos_ds_f1\cleaned_data\\f1db-races-race-results-NO-DNF.csv')

race_pos_df = race_pos[['year', 'raceId', 'driverId', 'positionNumber']]

<>:1: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
<>:1: SyntaxWarning: invalid escape sequence '\l'
<>:2: SyntaxWarning: invalid escape sequence '\l'
C:\Users\luker\AppData\Local\Temp\ipykernel_16116\3994502655.py:1: SyntaxWarning: invalid escape sequence '\l'
  start_pos = pd.read_csv('C:\\Users\luker\OneDrive\Desktop\erdos_ds_f1\data_f1db\\f1db-races-starting-grid-positions.csv')
C:\Users\luker\AppData\Local\Temp\ipykernel_16116\3994502655.py:2: SyntaxWarning: invalid escape sequence '\l'
  race_pos = pd.read_csv('C:\\Users\luker\OneDrive\Desktop\erdos_ds_f1\cleaned_data\\f1db-races-race-results-NO-DNF.csv')

In [12]:
# Merge start_pos and race_pos on both 'raceId' and 'driverId'
merged_data = pd.merge(start_pos, race_pos_df, on=['raceId', 'driverId'], suffixes=('_start','_race'))

In [15]:
merged_data.head(20)
merged_data.describe()

,raceId,year_start,round,positionDisplayOrder,positionNumber_start,driverNumber,qualificationPositionNumber,gridPenaltyPositions,timeMillis,year_race,positionNumber_race
count,10834.000000,10834.000000,10834.000000,10834.000000,10733.000000,10834.000000,10734.000000,403.000000,1.047000e+04,10834.000000,10803.000000
mean,799.754384,2007.679712,9.930589,10.916097,10.831361,17.806996,10.822806,9.027295,8.847996e+04,2007.679712,8.540313
std,199.953893,11.108150,5.483759,6.474903,6.442677,17.554208,6.433724,10.284353,1.703161e+04,11.108150,4.990912
min,421.000000,1986.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,5.337700e+04,1986.000000,1.000000
25%,634.000000,1999.000000,5.000000,5.000000,5.000000,6.000000,5.000000,5.000000,7.852150e+04,1999.000000,4.000000
50%,820.000000,2009.000000,10.000000,11.000000,10.000000,14.000000,10.000000,5.000000,8.576950e+04,2009.000000,8.000000
75%,969.000000,2017.000000,14.000000,16.000000,16.000000,22.000000,16.000000,10.000000,9.595700e+04,2017.000000,12.000000
max,1125.000000,2024.000000,24.000000,27.000000,27.000000,99.000000,27.000000,70.000000,1.002640e+06,2024.000000,24.000000

In [16]:
race_pos.describe()

,Unnamed: 0.1,Unnamed: 0,raceId,year,round,positionDisplayOrder,positionNumber,driverNumber,laps,timeMillis,...,gapLaps,intervalMillis,points,qualificationPositionNumber,gridPositionNumber,positionsGained,pitStops,raceStartId,trueStartPosition,effectiveStartPosition
count,10834.000000,10834.000000,10834.000000,10834.000000,10834.000000,10834.000000,10803.000000,10834.000000,10834.000000,5.797000e+03,...,4628.000000,5093.000000,5693.000000,10734.000000,10685.000000,10803.000000,9134.000000,10834.000000,10834.000000,10834.000000
mean,8664.419513,19870.089810,799.754384,2007.679712,9.930589,8.558150,8.540313,17.806996,60.552428,5.807864e+06,...,1.623379,9936.497938,7.526787,10.822806,10.813102,2.354068,2.025071,8664.419513,10.874285,8.557966
std,4334.798653,4477.912835,199.953893,11.108150,5.483759,4.997349,4.990912,17.554208,10.109740,1.064050e+06,...,1.177242,12285.916325,6.351833,6.433724,6.442629,4.680286,0.903977,4334.798653,6.452925,4.997074
min,0.000000,10520.000000,421.000000,1986.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.070710e+05,...,1.000000,11.000000,0.500000,1.000000,1.000000,-18.000000,0.000000,0.000000,1.000000,1.000000
25%,5210.250000,16443.250000,634.000000,1999.000000,5.000000,4.000000,4.000000,6.000000,53.000000,5.312046e+06,...,1.000000,1603.000000,3.000000,5.000000,5.000000,0.000000,1.000000,5210.250000,5.000000,4.000000
50%,9095.000000,20366.500000,820.000000,2009.000000,10.000000,8.000000,8.000000,14.000000,59.000000,5.645941e+06,...,1.000000,5323.000000,6.000000,10.000000,10.000000,2.000000,2.000000,9095.000000,11.000000,8.000000
75%,12374.750000,23679.750000,969.000000,2017.000000,14.000000,12.000000,12.000000,22.000000,69.000000,6.048855e+06,...,2.000000,13581.000000,10.000000,16.000000,16.000000,5.000000,2.000000,12374.750000,16.000000,12.000000
max,15489.000000,26807.000000,1125.000000,2024.000000,24.000000,24.000000,24.000000,99.000000,87.000000,1.474314e+07,...,16.000000,99591.000000,50.000000,27.000000,27.000000,22.000000,7.000000,15489.000000,27.000000,24.000000

In [17]:
start_pos.describe()

,raceId,year,round,positionDisplayOrder,positionNumber,driverNumber,qualificationPositionNumber,gridPenaltyPositions,timeMillis
count,25208.000000,25208.000000,25208.000000,25208.000000,25075.000000,25208.000000,25069.000000,492.000000,2.466900e+04
mean,557.457553,1992.431371,8.571247,11.851079,11.808893,17.718224,11.828434,9.288618,1.062884e+05
std,318.829198,20.194258,5.099852,6.801555,6.793177,15.654048,6.811942,10.074369,7.385093e+04
min,1.000000,1950.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,5.337700e+04
25%,291.000000,1977.000000,4.000000,6.000000,6.000000,7.000000,6.000000,5.000000,7.991700e+04
50%,542.000000,1993.000000,8.000000,12.000000,12.000000,15.000000,12.000000,5.000000,8.841700e+04
75%,832.000000,2010.000000,12.000000,17.000000,17.000000,23.000000,17.000000,10.000000,1.017980e+05
max,1133.000000,2025.000000,24.000000,34.000000,34.000000,136.000000,34.000000,70.000000,1.136000e+06

In [20]:
# Compute the absolute difference between starting position and race position

merged_data['position_diff'] = np.abs(merged_data['positionNumber_start'] - merged_data['positionNumber_race'])

In [21]:
merged_data.head()

,raceId,year_start,round,positionDisplayOrder,positionNumber_start,positionText,driverNumber,driverId,constructorId,engineManufacturerId,tyreManufacturerId,qualificationPositionNumber,qualificationPositionText,gridPenalty,gridPenaltyPositions,time,timeMillis,year_race,positionNumber_race,position_diff
0,421,1986,1,1,1.0,1,12,ayrton-senna,lotus,renault,goodyear,1.0,1,NaN,NaN,1:25.501,85501.0,1986,2.0,1.0
1,421,1986,1,2,2.0,2,6,nelson-piquet,williams,honda,goodyear,2.0,2,NaN,NaN,1:26.266,86266.0,1986,1.0,1.0
2,421,1986,1,4,4.0,4,25,rene-arnoux,ligier,renault,pirelli,4.0,4,NaN,NaN,1:27.133,87133.0,1986,4.0,0.0
3,421,1986,1,5,5.0,5,26,jacques-laffite,ligier,renault,pirelli,5.0,5,NaN,NaN,1:27.190,87190.0,1986,3.0,2.0
4,421,1986,1,11,11.0,11,11,johnny-dumfries,lotus,renault,goodyear,11.0,11,NaN,NaN,1:29.503,89503.0,1986,9.0,2.0

In [22]:
# Rename colums for clarity
merged_data.rename(columns={
    'positionNumber_start': 'starting_position',
    'positionNumber_race' : 'race_position',
    'position_diff' : 'absolute_position_diff'
}, inplace=True)

In [26]:
# Only keep relevant columns
merged_data.rename(columns={
    'year_start' : 'year'
}, inplace=True)

start_race_pos_diff_noDNF = merged_data[['year', 'raceId', 'driverId', 'starting_position', 'race_position', 'absolute_position_diff']]

In [27]:
# Export start_race_pos_diff_noDNF to CSV

start_race_pos_diff_noDNF.to_csv('start-to-race-position-difference-No-DNF.csv')

In [31]:
# Dataframe with mean absolute position difference per race

mean_pos_diff = start_race_pos_diff_noDNF.groupby(['raceId']).mean(numeric_only=True)

In [37]:
mean_pos_diff.head()

   raceId    year  starting_position  race_position  absolute_position_diff
0     421  1986.0          10.000000            5.5                4.700000
1     422  1986.0           8.250000            4.5                3.750000
2     423  1986.0           9.333333            5.0                4.333333
3     424  1986.0          10.250000            6.5                4.083333
4     425  1986.0          11.307692            6.5                6.083333

In [38]:
mean_abs_pos_diff = mean_pos_diff[['raceId', 'absolute_position_diff']]

In [39]:
mean_pos_diff.to_csv('mean-absolute-position-difference-no-DNF.csv')